.Menu {
  height: 84vh !important;
  left: 0;
  max-width: 100%;
  position: sticky;
  overflow-y: scroll;
  top: 0;
  border-right: 0.8;
  font-size: 12px;
}

html ::-webkit-scrollbar {
  width: 5px;
  border-radius: 0px;
}

html ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

html ::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0px;
}

img {
  height: 57px;
  margin: 12px 0 12px 50px;
}

/* Target the SubMenu titles and make them bold */
.ant-layout-sider-children {
  font-weight: 500;
}

.custom-sidebar-menu .ant-menu-item.ant-menu-item-only-child,
.custom-sidebar-menu .ant-menu-submenu-title {
  height: 25px !important;
  line-height: 28px !important;
  padding-left: 10px !important;
}

.ant-menu.ant-menu-sub.ant-menu-inline {
  padding-left: 10px !important;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
  height: 90vh !important;
}

/* .custom-sidebar-menu .ant-menu-item.ant-menu-item-only-child {
  padding-left: 59px !important;
} */

/* .ant-layout-sider .ant-layout-sider-dark .ant-layout-sider-collapsed {
  max-width: 80px !important;
  min-width: 80px !important;
}  */